<div class="author">
    <h1 class="author__heading">Find Taco Truck.</h1>
    <p class="author__body">find your favorite taco trucks in San Jose</p>
  </div>
 <!-- example image -->
  <!-- <img src="/img/hero-image.webp" alt="person looking out through window" class="hero-image" width="981" height="528"> -->
  <section class="articles">
    <h2 class="articles__heading">List of Taco Trucks</h2>
   
 <ul class="article-ul">
    <li>
        <a href="#">
            <span>Taco Truck Name</span>
            <span class="article-list__date">Zip Code</span>
        </a>
        
    </li>
    <li>
        <a href="#">
            <span>Taco Truck Name</span>
            <span class="article-list__date">Zip Code</span>
        </a>
        
    </li>
    </ul>

    <a href="#" class=""pagination">View More</a>